<% content_for :title, "New result" %>

<div class="mb-4">
  <h1 class="h2 mb-1">New result</h1>
</div>

<div class="card border-0 shadow-sm">
  <div class="card-body">
    <%= render "form", result: @result %>
  </div>
</div>
